body{
    background-image: url("../images/background.jpg");
}

.title{
    width:50%;
}

.titleSmall{
    max-height: 100px;
}

.jumbotron{
    background-color: #0000004b;
    color:white;
}

.container{
    color:white;
}

.chosen-container{
    color: black !important;
}

.fas{
    color:red;
}

a:visited{
    color: darkblue;
}

a{
    color: white;
}